
 
<!----start-images-slider---->
<div class="images-slider">
	<!-- start slider -->
	<div id="fwslider">
		<div class="slider_container">
			<div > 
				<!-- Slide image -->
					<img src="../../../assets/images/slider-bg11.jpg" alt=""/>
				<!-- /Slide image -->
				<!-- Texts container -->
				<div class="slide_content">
					<div class="slide_content_wrap">
						<!-- Text title -->
						<h4 class="title">¡Bienvenidx! {{nombreUsuario}}</h4>
						<p class="description">Nos ajustamos a tu presupuesto, dinos que plan tienes y olvídate de organizar las vacaciones.</p>

						<!-- /Text title -->
						<!-- Text description -->
						<!-- /Text description -->
					
					</div>
			
				</div>
				 <!-- /Texts container --> 
			</div>
			<!-- /Duplicate to create more slides -->
			
			<!--/slide -->
		</div>
		<div class="timers"> </div>
		<div class="slidePrev"><span> </span></div>
		<div class="slideNext"><span> </span></div>
	</div>
	<!--/slider -->
</div>

